<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionString_REMOVE_THIS_SUFFIX" connectionString="Data Source=ServerName; Initial Catalog=DB_Name; Enlist=True; User ID=UserName; Password=Password;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>